#DirectoryIndex  index.html  index.php /_h5ai/server/php/index.php
HeaderName /header.htm
ReadmeName /footer.htm
IndexOptions +FancyIndexing +NameWidth=* +DescriptionWidth=*
AddDescription "Otvorí záverečnú prácu" loader.htm
AddDescription "Galéria obrazových príloh" prilohy.htm
AddDescription "Návrat" ..
IndexStyleSheet "/style.css"

<FilesMatch "\.pdf$|str">
  Order Allow,Deny
  Deny from all
  Allow from 127.0.0.1
</FilesMatch>

IndexIgnore *.swf _* *.gif *.jpg fgr.htm gal*
IndexIgnore loader.gif preview.php status.php